/* Notes */

/* font-family: 'Open Sans', sans-serif;
 * font-family: 'Oxygen Mono', monospace;
 * Open Sans in 400 and 600
*/

/****************************************************************************************************************************************************************************************************************************/

/* General */

* {font-family: 'Open Sans', sans-serif !important}

body {
	background-color: #111;
	color: #FFF !important;
	
}

a, a:visited {
	color: #FFF;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

a:hover {
	color: #999;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/****************************************************************************************************************************************************************************************************************************/

/* Logo */

.logo {
	position: absolute;
	left: 0;
	right: 0;
	margin: 32px auto 0;
	width: 96px;
	height: 96px;
	z-index: 2;
}

.logo a img {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	-webkit-transition: border-radius .3s;
	-moz-transition: border-radius .3s;
	-ms-transition: border-radius .3s;
	-o-transition: border-radius .3s;
	transition: border-radius .3s;
}

.logo a img:hover {
	border-radius: 8%;
	-webkit-transition: border-radius .3s;
	-moz-transition: border-radius .3s;
	-ms-transition: border-radius .3s;
	-o-transition: border-radius .3s;
	transition: border-radius .3s;
}

/****************************************************************************************************************************************************************************************************************************/

/* Sections */

.stravinci, .botamilho {
	width: 50%;
}

.stravinci {
	float: left;
}

.botamilho {
	float: right;
}

.title {
	font-size: 78px;
	font-weight: 600;
	margin: 34px 0 42px;
	text-align: center;
}

.stravinci .title {color: #4286F4}
.botamilho .title {color: #EF5A2D}

/****************************************************************************************************************************************************************************************************************************/

/* Buttons */

button, .section {
	width: 80%;
	display: block;
	margin: 0 auto 36px;
	position: relative;
}

button, button:focus {
	border: 3px solid #292929;
	margin: 0 auto 36px;
	outline: none;
	padding: 10px !important;
	font-size: 28px;
	background-color: #111;
	color: #FFF;
	border-radius: 12px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	z-index: 1;
}

button:hover {
	cursor: pointer;
	background-color: #292929;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

#defvS, #defvB {
	margin-bottom: 0;
}

/****************************************************************************************************************************************************************************************************************************/

/* Sections and other divs */

.section {
	display: none;
	background-color: #292929;
	margin-top: -36px;
	z-index: 0;
	border-radius: 0 0 12px 12px;
}

.sep {
	width: 90%;
	height: 2px;
	background-color: #191919;
	margin: 0 auto -12px;
	border-radius: 1px;
}

.content {
	text-align: center;
	margin: 12px 5% 0;
	padding: 22px 0;
}

.content * {
	margin: 0;
	padding: 0;
	font-size: 17px;
}

/****************************************************************************************************************************************************************************************************************************/

/* Crosshair */

.xhair {
	float:right;
	margin: 24px 24px 0 0;
	overflow: hidden;
	width: 96px;
	height: 96px;
	border-radius: 8px;
}

.xhair img {
	height: 96px;
	transform: translateX(-96px);
	-webkit-transition: transform .25s;
	-moz-transition: transform .25s;
	-ms-transition: transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s;
}

.xhair:hover img {
	transform: translateX(0);
	-webkit-transition: transform .25s;
	-moz-transition: transform .25s;
	-ms-transition: transform .25s;
	-o-transition: transform .25s;
	transition: transform .25s;
}

.cross {
	font-family: 'Oxygen Mono', monospace !important;
	font-size: 15px;
	letter-spacing: -1px;
}

.note {
	font-size: 14px;
	margin-top: 32px;
	color: #BBB;
}

/****************************************************************************************************************************************************************************************************************************/

/* Text formatting */

.fst {font-weight: 600}
.snd {color: #BBB}
.just {text-align: justify}

/****************************************************************************************************************************************************************************************************************************/

/* Bottom bar */

.pill {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 64px;
	overflow: hidden;
	background-color: #FFF;
	text-align: center;
	z-index: 4;
	clip-path: polygon(35% 0, 65% 0, 75% 100%, 25% 100%);
}

.pill img {
	width: 720px;
	position: relative;
	bottom: 370px;
	margin: auto;
}

/****************************************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 1078px) {
	
}
